#agentContact {
  display: flex;
  flex-direction: row-reverse;
}

#homeValue{
  /* align-self: flex-start; */
}

.sideBarContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
}

.houseContainer{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
#nearbySimilar {
  width: 310px;
}
#houseInfo {
  width: 60%;
  height: 60%;
}